@import url('https://fonts.googleapis.com/css?family=Industry+Book');

body {
  background-color: #000000;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.logo {
  display: block; /* Ensures that the image is a block-level element */
  margin: 0 auto; /* Centers the image horizontally */
  padding: 2.5rem;
  width: 50%;
}

.buttons a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: #FFFFFF;
  background-color: #6250f8;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.buttons a:hover {
  background-color: #555555;
}


h2 {
  color: white;
  font-weight: 600;
  font-family: 'Industry Book', sans-serif;
  font-size: 1rem; /* added font-size property */
}

.player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
    width: 50%; /* changed width property */
    margin-left: 25%; /* added margin-left property */
    margin-right: 25%; /* added margin-right property */
}

.player-image img {
    border-radius: 25px;
}

.player-info {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    padding-left: 1rem;
    margin-right: auto;
}

.player-info p {
  color: white;
  font-family: 'Industry Book', sans-serif;
  font-size: 15px; /* added font-size property */
}

.player-points {
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 25px;
    background: #242424;
    color: white;
    font-family: 'Industry Book', sans-serif;
    font-size: 15px; /* added font-size property */
}

.strike-value {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'IndustryDemi';
}

.footer {
    padding: 2rem;
    text-align: center;
    font-size: medium;
    color: #fff;
    font-family: 'Industry Book', sans-serif;
}

.footer a {
    color: #fff;
}

#footer-logo {
    width: 30rem;
}

.footer strong a {
    text-decoration: none;
}

