@import url('https://fonts.googleapis.com/css?family=Industry+Book');

body {
  background-color: #000000;
}

h2 {
  color: white;
  font-weight: 600;
  font-family: 'Industry Book', sans-serif;
  font-size: 1rem; /* added font-size property */
}

.player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    width: 40%; /* changed width property */
    margin-left: 30%; /* added margin-left property */
    margin-right: 30%; /* added margin-right property */
}

.player-image img {
    border-radius: 25px;
}

.player-info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-right: auto;
}

.player-info p {
  color: white;
  font-family: 'Industry Book', sans-serif;
  font-size: 15px; /* added font-size property */
}

.player-points {
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 25px;
    background: #242424;
    color: white;
    font-family: 'Industry Book', sans-serif;
    font-size: 15px; /* added font-size property */
}

.strike-value {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'IndustryDemi';
}
